body{
    color: red;
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
}

#parrafo-css{
    color: blue;
    background-color: aqua;
}

#div-prueba{
    color: blueviolet;
}

#parrafo-codigo{
    color: pink;
}

#footer{
    background-color: rgb(219, 163, 41);
    color: rgb(63, 58, 58);
}

#encabezado2{
    background-color: blueviolet;
    color: brown;
}

#footer2{
    background: linear-gradient(blue,pink);
color: aqua;
}