body{
    color: red;
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
}

#parrafo-css{
    color: blue;
    background-color: aqua;
}

#parrafo-codigo{
    color: pink;
}